.profile-comment-link {
  font-size: 20px;
  text-decoration: none;
  display: inline;
  font-weight: normal;
  cursor: pointer;
  color: #EA3323
}

.profile-comment-link:hover {
  color: #FFFFFF;
}

.comments-button {
  color: white;
  border-color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  font-weight: lighter;
  border-color: #EA3323;
  border-radius: 5%;
}

.profile-delete-but {
  color: white;
  border-color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  font-weight: 700;
  border-color: #EA3323;
  border-radius: 5%;
  cursor: pointer;
}

.comment-list {
  list-style: none;
}

.comment-submit-button {
  color: white;
  border-color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  font-weight: 700;
  border-color: #EA3323;
  border-radius: 5%;
  cursor: pointer;
}