
.welcome-title{
    display: flex;
    justify-content: center;
    font-family: ableton sans; 
    font-size: 48px;
    font-weight: 800;
}

.header {
    margin-top: 2rem;
}

.login-signup-but-container {
    display:flex;
    justify-content: center;
}

.login-but-container, 
.signup-but-container{
    margin: 20px 20px 20px 20px;
}

.login-but-container button, 
.signup-but-container button {
    width: 6rem;
    height: 3rem;
    background-color: rgb(102, 98, 98);
}

.login-but:hover, 
.signup-but:hover {
    background-color: red;
    cursor: pointer;
}

.login-but-text, 
.signup-but-text {
    color: white;
}

/* .login-but-text:hover, 
.signup-but-text:hover {
    color: black;
} */


.drop-down-menu-bt {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 3rem;
  width: 7rem;
  
  
}

.drop-down-menu {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 1rem
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content .db-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .db-item:hover {background-color: #ddd;}

.drop-down-menu:hover .dropdown-content {display: block;}

.drop-down-menu:hover .drop-down-menu-bt {background-color: #3e8e41;} 

#logout-bt{
    border: none;
    padding-right: 2.9rem;
    font-size: 1rem;
}

