
.welcome-title{
    display: flex;
    justify-content: center;
    font-family: ableton sans; 
    font-size: 48px;
    font-weight: 800;
}

.header {
    margin-top: 2rem;
}

.login-signup-but-container {
    display:flex;
    justify-content: center;
}

.login-but-container, 
.signup-but-container{
    margin: 20px 20px 20px 20px;
}

.login-but-container button, 
.signup-but-container button {
    width: 6rem;
    height: 3rem;
    background-color: rgb(102, 98, 98);
}

.login-but:hover, 
.signup-but:hover {
    background-color: red;
    cursor: pointer;
}

.login-but-text, 
.signup-but-text {
    color: white;
}

/* .login-but-text:hover, 
.signup-but-text:hover {
    color: black;
} */
