.feed-beats-container {
    margin: auto;
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
    height: 35rem;
    width: 50%;
    overflow: scroll;
    overflow-x: hidden;
    border-color: red;
    background-color:rgba(3, 2, 2, 0.438);
 
}
.comments-button{
 position: relative;
 top: 1rem;
 left: 2rem;
 margin-bottom: 5%;
}

.comments{
    /* display: block; */
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
   
} 

.open-comments-feed{
    border-style: solid;
    border-width: thin;
    max-width: 85%;
    padding: 0rem 2rem 2rem;
    display: flex;
    /* justify-content: center; */
    border-radius: 1rem;
}


.feed-beats-container::-webkit-scrollbar {
    display: none;
}



.feed-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-size: 2rem;
    padding: 0 0 0.3rem 0;
    font-family: Courier;
    font-weight: bold;
}

.feed-beat-title{
    color: white;
    font-family: Courier;
}

.feed-beat-author {
    color: #EA3323;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Courier;
    width: fit-content;
}


.feed-beat {
    font-family: Arial, Helvetica, sans-serif;
    color: pink;
    margin-left: 20px;
    border-radius: 1rem;
    border-color: rgb(195, 74, 74);
    padding: 0rem 1.5rem 0.2rem 1.5rem;
    width: 86%;
}


/* .feed-beat-content{
  
  
   /* margin-top: 2rem; */
   
/* } */

.feed-beat-date{
  
     font-size: 0.8rem;
    padding: 0 0 0.6rem 0;
}

audio::-webkit-media-controls-panel {
    background-color: #A8A0A0;
}